xsd/commons/base_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/base_types/1.0.0" elementFormDefault="qualified">
	 <xs:complexType name="kidSnilsDocumentsType">
        <xs:annotation>
            <xs:documentation>СНИЛС ребенка из учетной записи родителя, пользователя ЕСИА</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="kidId" type="tns:personOidType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Внешний идентификатор карточки ребенка в БД ЕСИА</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="snils" type="tns:snilsType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>СНИЛС ребенка из учетной записи родителя, пользователя ЕСИА</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="updatedOn" type="tns:updatedOnDateType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Дата и время обновления документа в формате timestamp</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="status" type="tns:statusType">
                <xs:annotation>
                    <xs:documentation>Статус достоверности персональных данных пользователя</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="fullNameType">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество пользователя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lastName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фамилия пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="baseDocType">
		<xs:annotation>
			<xs:documentation>Базовый тип для всех документов (серия, номер, дата выдачи)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="series" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issued" type="tns:dateType">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="registryOffice">
		<xs:annotation>
			<xs:documentation>Сведения об органе, которым произведена государственная регистрация акта гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="tns:string-1000">
				<xs:annotation>
					<xs:documentation>Полное наименование органа ЗАГС, которым произведена государственная регистрация акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="tns:string-8">
				<xs:annotation>
					<xs:documentation>Код органа ЗАГС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="baseSertType">
		<xs:annotation>
			<xs:documentation>Базовый тип для всех сертификатов (тип, серия, номер, дата выдачи)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="certType">
				<xs:annotation>
					<xs:documentation>Тип выданного свидетельства</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:string-1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="series" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issued" type="tns:dateType">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kidRfPassportType">
		<xs:annotation>
			<xs:documentation>Паспорт гражданина России до 18 лет</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kidId" type="tns:personOidType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Внешний идентификатор карточки ребенка в БД ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="tns:statusType">
				<xs:annotation>
					<xs:documentation>Статус достоверности персональных данных пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фамилия ребенка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя ребенка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество ребенка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="birthDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issued" type="tns:dateType">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuedBy" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения органа, выдавшего документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="dateType">
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-3][0-9]\.[0-1][0-9]\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="categoriesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>Мотоциклы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="A1">
				<xs:annotation>
					<xs:documentation>Легкие мотоциклы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation>Легковые автомобили, небольшие грузовики (до 3,5 тонн)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BE">
				<xs:annotation>
					<xs:documentation>Легковые автомобили с прицепом</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B1">
				<xs:annotation>
					<xs:documentation>Трициклы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>Грузовые автомобили (от 3,5 тонн)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C1">
				<xs:annotation>
					<xs:documentation>Средние грузовики (от 3,5 до 7,5 тонн)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C1E">
				<xs:annotation>
					<xs:documentation>Средние грузовики с прицепом</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>Автобусы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>Автобусы с прицепом</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D1">
				<xs:annotation>
					<xs:documentation>Небольшие автобусы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D1E">
				<xs:annotation>
					<xs:documentation>Небольшие автобусы с прицепом</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>Мопеды</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tm">
				<xs:annotation>
					<xs:documentation>Трамваи</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tb">
				<xs:annotation>
					<xs:documentation>Троллейбусы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProofBlockType">
		<xs:sequence>
			<xs:element name="status" type="tns:statusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус достоверности персональных данных пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="legalForce" type="tns:legalForceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Возможность проверить подлинность данных, полученных из ГИС (документы подписанные
                        ЭП ведомства)
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receiptDocDate" type="tns:receiptDocDateType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата и время получения документа в формате timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validateDateDoc" type="tns:validateDateDocType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата и время валидации документа в формате timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="statusType">
		<xs:annotation>
			<xs:documentation>Статус достоверности персональных данных пользователя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="verified_by_validate">
				<xs:annotation>
					<xs:documentation>Сведения, введённые пользователем и проверенные в ГИС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="verified_by_request">
				<xs:annotation>
					<xs:documentation>Сведения, полученные из ГИС по запросу</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="verified_by_push">
				<xs:annotation>
					<xs:documentation>Сведения, полученные из ГИС в режиме «push»</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="unverified">
				<xs:annotation>
					<xs:documentation>Сведения, не проверенные в ГИС или проверка которых в ГИС неуспешна
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="legalForceType">
		<xs:annotation>
			<xs:documentation>Возможность проверить подлинность данных, полученных из ГИС (документы подписанные ЭП
                ведомства)
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="receiptDocDateType">
		<xs:annotation>
			<xs:documentation>Дата и время получения документа в формате timestamp</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="13"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="validateDateDocType">
		<xs:annotation>
			<xs:documentation>Дата и время валидации документа в формате timestamp</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="13"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="addressFiasType">
		<xs:annotation>
			<xs:documentation>Адрес места жительства на территории Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="addressFiasStr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места жительства на территории Российской Федерации, указанный в печатной форме Свидетельства и актовой записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oktmo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКТМО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fiasCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zipCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regionCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regionName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование субъекта Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="municipality" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="settlement" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locality" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="street" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="house" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frame" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flat" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Квартира</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="homeAddressType">
		<xs:annotation>
			<xs:documentation>Адрес места жительства</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="addressInRussia">
				<xs:annotation>
					<xs:documentation>Адрес места жительства на территории Российской Федерации</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="addressFias" type="tns:addressFiasType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Адрес места жительства на территории Российской Федерации, введенный по ФИАС</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="addressStr" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Адрес места жительства физического лица, который будет указан в печатной форме Свидетельства и актовой записи, для которого не указан аналог из ФИАС</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressOutsideRussia">
				<xs:annotation>
					<xs:documentation>Адрес места жительства за пределами Российской Федерации</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="oksm" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Код страны</xs:documentation>
								<xs:documentation>Принимает значение цифрового кода в соответствии с Общероссийским классификатором стран мира ОК 025-2001 (ОКСМ)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="countryName" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Полное наименование страны</xs:documentation>
								<xs:documentation>Принимает значение в соответствии с Общероссийским классификатором стран мира ОК 025-2001 (ОКСМ)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="foreignAddress" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Адрес места жительства физического лица, проживающего за пределами Российской Федерации, который будет указан в печатной форме Свидетельства и актовой записи</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nonClassifiedAddress" type="tns:string-1024" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Не классифицируемый адрес места жительства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="actIncompleteDateType">
		<xs:annotation>
			<xs:documentation>Сведения о дате по представленным документам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="day" type="tns:number-2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о дне в соответствии с представленными документами</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="month" type="tns:number-2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о месяце в соответствии с представленными документами</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="year">
				<xs:annotation>
					<xs:documentation>Сведения о годе в соответствии с представленными документами</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:gYear">
						<xs:minInclusive value="1826"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="registryOfficeType">
		<xs:annotation>
			<xs:documentation>Сведения об органе, которым произведена государственная регистрация акта гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="tns:string-1000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полное наименование органа ЗАГС, которым произведена государственная регистрация акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="tns:string-8" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код органа ЗАГС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="recordStatusType">
		<xs:annotation>
			<xs:documentation>Сведения о состоянии и статусе записи акта гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала действия состояния и статуса записи акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusCode" type="tns:string-4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код состояния и статуса записи акта гражданского состояния по справочнику СОСТАГС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusName" type="tns:string-255" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование состояния и статуса записи акта гражданского состояния по справочнику СОСТАГСС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="certsType">
		<xs:annotation>
			<xs:documentation>Сведения о выданном Свидетельстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="certType" type="tns:string-1">
				<xs:annotation>
					<xs:documentation>Тип выданного свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" type="tns:string-10" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="tns:string-1_8" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="issueDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Дата выдачи свидетельства (календарная дата)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="issueIncompleteDate" type="tns:actIncompleteDateType">
					<xs:annotation>
						<xs:documentation>Дата выдачи свидетельства по представленным документам (неполная дата)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="civilRegistryOffice" type="tns:registryOfficeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об органе ЗАГС, которым было выдано свидетельство о заключении(расторжении) брака</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partnerType">
		<xs:annotation>
			<xs:documentation>Супруг(а)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="snils" type="tns:snilsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>СНИЛС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastNameBefore" type="tns:string-60" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия до заключения брака</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastNameAfter" type="tns:string-60" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия после заключения брака</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="tns:string-60" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="tns:string-60" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="citizenship" type="tns:citizenshipDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о гражданстве</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="birthIncompleteDate" type="tns:actIncompleteDateType">
					<xs:annotation>
						<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="birthDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Дата рождения по представленным документам</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="birthPlace" type="tns:birthPlaceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homeAddress" type="tns:homeAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места жительства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="idDoc" type="tns:idDocType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zagsChangesInRecordType">
		<xs:annotation>
			<xs:documentation>Сведения об исправлениях, изменениях и отметках, внесенных в запись акта гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="recordTypeCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида записей по справочнику СВЗАГС, внесенных в запись акта гражданского состояния, при исправлении и изменении, при внесении отметки о восстановлении или об аннулировании записи гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recordTypeName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование вида записей по справочнику СВЗАГС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correctionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата внесения исправления и изменения в запись акта гражданского состояния или дата внесения отметки  о восстановлении или об аннулировании записи акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correctionContent" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Содержание внесенного исправления или изменения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correctionDoc" type="tns:correctionDocType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, на основании которого внесены исправления и изменения в запись акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="correctionDocType">
		<xs:annotation>
			<xs:documentation>Сведения о документе основании</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="recordRequisites" type="tns:recordRequisitesType">
				<xs:annotation>
					<xs:documentation>Сведения о реквизитах записи акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="anotherDocRequisites" type="tns:anotherDocRequisitesType">
				<xs:annotation>
					<xs:documentation>Сведения о реквизитах иного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="citizenshipDataType">
		<xs:annotation>
			<xs:documentation>Сведения о гражданстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="oksm" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКСМ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страны</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="anotherDocRequisitesType">
		<xs:annotation>
			<xs:documentation>Сведения о документе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="docCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида документа</xs:documentation>
					<xs:documentation>Принимает значение в соответствии со Справочником видов документов, используемых при государственной регистрации актов гражданского состояния и при совершении иных юридически значимых действий (СДРАГС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="docName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="docSerNum" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия и номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="docDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Дата документа (календарная дата)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="docIncompleteDate" type="tns:actIncompleteDateType">
					<xs:annotation>
						<xs:documentation>Дата документа (неполная дата)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element name="orgName" type="xs:string">
					<xs:annotation>
						<xs:documentation>Наименование органа, выдавшего документ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="individualEntrepreneurFullName" type="tns:fullNameType">
					<xs:annotation>
						<xs:documentation>Фамилия, имя, отчество индивидуального предпринимателя</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="personFullName" type="tns:fullNameType">
					<xs:annotation>
						<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="recordRequisitesType">
		<xs:annotation>
			<xs:documentation>Сведения о реквизитах записи акта гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="actType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип записи акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actTypeName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actNo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер записи акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата составления записи акта гражданского состояни</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="civilRegistryOffice" type="tns:registryOfficeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthPlaceType">
		<xs:annotation>
			<xs:documentation>Место</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="placeSign" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак принадлежности адреса к территории РФ или к территории за пределами РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeStr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место (текстом)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полное наименование страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regionCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регион</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regionName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование субъекта Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="municipality" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование района</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="settlement" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование города</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locality" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование населенного пункта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oktmo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКТМО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="idDocType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность физического лица (с признаком отсутствия)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="docCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
					<xs:documentation>Принимает значение в соответствии со справочником «Виды документов, удостоверяющих личность налогоплательщика» (СПДУЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="docName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия и номер документа, удостоверяющего личность</xs:documentation>
					<xs:documentation>Принимает значение в соответствии со справочником «Виды документов, удостоверяющих личность налогоплательщика» (СПДУЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="docSerNum" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия и номер документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="docDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата выдачи документа, удостоверяющего личность (календарная дата)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="docIncompleteDate" type="tns:actIncompleteDateType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата выдачи документа, удостоверяющего личность (неполная дата)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="issuedBy" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения органа, выдавшего документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="string-1024">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 1024 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="baseDataEGRZAGSType">
		<xs:annotation>
			<xs:documentation>Базовый тип для описания сведений из ЕГР ЗАГС (свидетельств о рождении, смерти, заключении
                брака, расторжении брака, перемени имени, установлении отцовства)
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="baseDoc" type="tns:baseDocType">
				<xs:annotation>
					<xs:documentation>Серия, номер, дата свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuedBy" type="xs:string">
				<xs:annotation>
					<xs:documentation>Полное наименование органа ЗАГС, которым произведена государственная регистрация
                        акта гражданского состояния
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actNo" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер записи акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actDate" type="tns:dateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата составления записи акта гражданского состояния</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="baseDataBrthCertType">
		<xs:annotation>
			<xs:documentation>Сведения о выданном Свидетельстве о рождении</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kidId" type="tns:personOidType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Внешний идентификатор карточки ребенка в БД ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updatedOn" type="tns:updatedOnDateType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата и время обновления документа в формате timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="tns:statusType">
				<xs:annotation>
					<xs:documentation>Статус достоверности персональных данных пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="departmentDoc" type="tns:string-255">
				<xs:annotation>
					<xs:documentation>Ведомство, к которому относится документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actNo2018Before" type="tns:string-10" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер актовой записи указанный  до 01.10.2018</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actNo2018After" type="tns:string-22" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер актовой записи указанный после 01.10.2018</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата версии записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="childFullName" type="tns:childFullNameType">
				<xs:annotation>
					<xs:documentation>Сведения о ребенке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="motherFullName" type="tns:fullNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество матери</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fatherFullName" type="tns:fullNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество отца</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="baseDoc" type="tns:baseSertType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Тип, серия, номер, дата свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="registryOffice" type="tns:registryOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация рождения ребенка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="childFullNameType">
		<xs:annotation>
			<xs:documentation>Сведения о ребенке</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lastName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фамилия ребенка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя ребенка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество ребенка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="birthDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gender">
				<xs:annotation>
					<xs:documentation>Пол</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:string-1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="countryName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страны рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="number-2">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 2 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1000">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-255">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 255 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-100">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 100 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-60">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 60 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-25">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 25 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-22">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 22 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-10">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 10 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-8">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 8 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-4">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 4 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-2">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 2 символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1_8">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 8 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 1 символ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="snilsType">
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="\d{3}-\d{3}-\d{3} \d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="updatedOnDateType">
		<xs:annotation>
			<xs:documentation>Дата и время обновления документа в формате timestamp</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="13"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="personOidType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>