xsd/basic_User_Data_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (RT LABS, AO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/basic_User_Data_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/basic_User_Data_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="basicUserData" type="tns:basicUserDataType">
		<xs:annotation>
			<xs:documentation>Основные данные о пользователе</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="basicUserDataType">
		<xs:sequence>
			<xs:element name="fullName" type="types:fullNameType">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество пользователя ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="birthDate" type="tns:birthDate">
				<xs:annotation>
					<xs:documentation>Дата рождения пользователя ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="birthPlace" type="tns:birthPlace">
				<xs:annotation>
					<xs:documentation>Место рождения пользователя ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gender" type="tns:gender">
				<xs:annotation>
					<xs:documentation>Пол пользователя ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="citizenship" type="tns:citizenship">
				<xs:annotation>
					<xs:documentation>Гражданство пользователя ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthDate">
		<xs:annotation>
			<xs:documentation>Дата рождения пользователя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="birthDate" type="tns:dateType">
				<xs:annotation>
					<xs:documentation>Дата рождения пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthPlace">
		<xs:annotation>
			<xs:documentation>Место рождения пользователя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="birthPlace" type="xs:string">
				<xs:annotation>
					<xs:documentation>Место рождения пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gender">
		<xs:annotation>
			<xs:documentation>Пол пользователя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="gender" type="tns:genderType">
				<xs:annotation>
					<xs:documentation>Пол пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="citizenship">
		<xs:annotation>
			<xs:documentation>Гражданство пользователя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="citizenship" type="tns:citizenshipType">
				<xs:annotation>
					<xs:documentation>Гражданство пользователя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="dateType">
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-3][0-9]\.[0-1][0-9]\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="genderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F"/>
			<xs:enumeration value="M"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="citizenshipType">
		<xs:annotation>
			<xs:documentation>Справочник идентификаторов стран гражданства</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
