xsd/FID_DOC_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (RT LABS, AO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/rfPassport_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/rfPassport_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="fidDoc" type="tns:fidDocType">
		<xs:annotation>
			<xs:documentation>Документ иностранного гражданина</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="fidDocType">
		<xs:annotation>
			<xs:documentation>Документ иностранного гражданина</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="baseDoc" type="types:baseDocType">
				<xs:annotation>
					<xs:documentation>Серия, номер, дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
