xsd/inn_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (RT LABS, AO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/inn_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/inn_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="innDocuments" type="tns:innDocumentsType">
		<xs:annotation>
			<xs:documentation>ИНН пользователя ЕСИА</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="innDocumentsType">
		<xs:sequence>
			<xs:element name="inn" type="tns:innType">
				<xs:annotation>
					<xs:documentation>ИНН пользователя ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="innType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
