xsd/kid_Rf_Passport_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/kid_Rf_Passport_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/kid_Rf_Passport_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="kidRfPassports" type="tns:kidRfPassportType">
		<xs:annotation>
			<xs:documentation>Паспорт гражданина России до 18 лет</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="kidRfPassportType">
		<xs:annotation>
			<xs:documentation>Паспорт гражданина России до 18 лет</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kidRfPassport" type="types:kidRfPassportType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Паспорт гражданина России до 18 лет</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="oid" type="tns:personOidType" use="required">
			<xs:annotation>
				<xs:documentation>Внешний идентификатор объекта(родителя) - учётной записи пользователя - в БД ЕСИА</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="dateType">
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-3][0-9]\.[0-1][0-9]\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="personOidType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
