xsd/kidMedical_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (RT LABS, AO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/kidMedical_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/kidMedical_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="KidMedicalDocs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KidMedicalDoc" type="tns:KidMedicalDoc" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="KidMedicalDoc">
		<xs:annotation>
			<xs:documentation>Полис ОМС ребенка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="number" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер полиса ОМС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiryDate" type="tns:dateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания срока действия полиса ОМС (указывается, если не бессрочный)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionName" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование субъекта Российской Федерации территории страхования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceOrganization" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страховой медицинской организации (филиала)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceOrganizationCode" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Реестровый номер страховой медицинской организации (филиала)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitedPolicyNumber" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Единый номер полиса ОМС (ЕНП)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="tns:dateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала действия полиса ОМС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MedicalOrganization" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование медицинской организации (юридическое лицо)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MedicalOrganizationOID" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>OID Медицинской организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MedicalOrganizationAddress" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места нахождения медицинской организации (юридическое лицо)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="dateType">
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-3][0-9]\.[0-1][0-9]\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
