xsd/PaymentsEGISSO_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (RT LABS, AO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/PaymentsEGISSO_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/PaymentsEGISSO_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="PaymentsEGISSO" type="tns:StatementDataType">
		<xs:annotation>
			<xs:documentation>Выписка из ЕГИССО
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="StatementDataType">
		<xs:annotation>
			<xs:documentation>Выписка из ЕГИССО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assignments" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
        Сведения о фактах назначения
      </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:tAssignmentData">
							<xs:sequence>
								<xs:element name="assignment" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="reasonPersons" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Сведения о лицах, являющихся основанием для назначения меры
            </xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="reasonPerson" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="reasonSNILS" type="tns:snilsType">
																		<xs:annotation>
																			<xs:documentation xml:lang="ru">
                          СНИЛС лица - основания
                        </xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="PhysicalPersonQualifiedName-ModelGroup" type="xs:string">
																		<xs:annotation>
																			<xs:documentation xml:lang="ru">
                                                                            Фамилия, имя, отчество лица - основания
                                                                        </xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="BirthDate" type="xs:date">
																		<xs:annotation>
																			<xs:documentation xml:lang="ru">
                          Дата рождения лица – основания
                        </xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="onmszTitle" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Наименование ОНМСЗ, осуществившего назначение МСЗ
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="kmszCode" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Код по КМСЗ
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="categoryTitle" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Наименование присвоенной локальной категории
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="onmszCode" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Код ОНМСЗ, осуществившего назначение МСЗ
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="lmszTitle" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Наименование назначенной МСЗ
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="decisionDate" type="xs:date">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Дата принятия решения о назначении
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="dateStart" type="xs:date">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Дата начала действия назначения
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="dateFinish" type="xs:date" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Дата окончания действия назначения
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="form" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Форма предоставления
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="periodicity" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Код периодичности предоставления
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="amount" type="xs:decimal">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Размер назначения
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="measureUnit" type="xs:string">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Код единицы измерения размера назначения
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="comment" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Комментарий
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="description" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Содержание назначения
            </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="needCriterion" type="xs:boolean">
												<xs:annotation>
													<xs:documentation xml:lang="ru">
              Признак использования критериев нуждаемости
            </xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="obligations" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
        Сведения о бюджетных обязательствах для указанного СНИЛС
      </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="obligation" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="kmszCode" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Код по КМСЗ
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="onmszTitle" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Наименование ОСЗ, осуществившего назначение МСЗ
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="lmszTitle" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Наименование назначенной ЛМСЗ
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="categoryTitle" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Наименование присвоенной локальной категории
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="decisionDate" type="xs:date">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Дата принятия решения о назначении
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="dateStart" type="xs:date">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Дата начала действия назначения
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="dateFinish" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Дата окончания действия назначения
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="periodicity" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Код периодичности предоставления
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="amount" type="xs:decimal">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Обязательство по назначенной выплате
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="payments" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Тип данных: Обязательства по месяцам
            </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation xml:lang="ru">
                Обязательство
              </xs:documentation>
											</xs:annotation>
											<xs:sequence>
												<xs:element name="year" type="xs:positiveInteger">
													<xs:annotation>
														<xs:documentation xml:lang="ru">
                    Год
                  </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="month" type="xs:positiveInteger">
													<xs:annotation>
														<xs:documentation xml:lang="ru">
                    Месяц (Январь = 1)
                  </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="amount" type="xs:decimal">
													<xs:annotation>
														<xs:documentation xml:lang="ru">
                    Сумма обязательств в указанный месяц
                  </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="assignees" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
        Сведения о выплатах, полученных в качестве правопреемника
      </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="assignee" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="snils" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              СНИЛС умершего лица
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="decisionNumber" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Номер решения
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="decisionDate" type="xs:date">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Дата решения о выплате
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="assignAmount" type="xs:decimal">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Сумма выплаты
            </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="incomes" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
        Сведения о доходах
      </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="monthIncome" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="year" type="xs:positiveInteger">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Год
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="month" type="xs:positiveInteger">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Месяц (Январь = 1)
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="organization" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Наименование организации
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="amount" type="xs:decimal">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Сумма выплат и иных вознаграждений за месяц
            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="insureDeposit" type="xs:decimal">
										<xs:annotation>
											<xs:documentation xml:lang="ru">
              Из них сумма выплат и иных вознаграждений, на которые были начислены страховые взносы
            </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAssignmentData">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
    Тип данных: Сведения о фактах назначения
  </xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:simpleType name="snilsType">
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="\d{3}-\d{3}-\d{3} \d{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
