xsd/ProofData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:tns="urn://mincomsvyaz/esia/proof_data/1.0.0"
           xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0"
		   targetNamespace="urn://mincomsvyaz/esia/proof_data/1.0.0" elementFormDefault="qualified">

    <xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>

    <xs:element name="ProofData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ProofRecord" type="tns:ProofRecordType" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Сведения о достоверности персональных данных пользователя для документов вложений</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ProofRecordType">
        <xs:sequence>
            <xs:element name="fileName" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Имя файла</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProofBlock" type="types:ProofBlockType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Сведения о достоверности персональных данных пользователя</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
