xsd/reg_realestate_documents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:directive="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/directive/1.3"
 xmlns:rns="urn://mincomsvyaz/esia/receiving_reg_realestate_documents/1.0.0"
 targetNamespace="urn://mincomsvyaz/esia/receiving_reg_realestate_documents/1.0.0" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
			Вид сведений "Запрос и получение организацией сведений о зарегистрированной на пользователя недвижимости"
		</xs:documentation>
	</xs:annotation>
	<xs:element name="RegistryData">
		<xs:annotation>
			<xs:documentation>Данные об объекта недвижимости пользователя, полученные из Росреестра</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RegistryObject" type="rns:registryObjectType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="registryObjectType">
		<xs:annotation>
			<xs:documentation>Отдельный объект</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="RegistryObjectContent" type="rns:registryObjectContentType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Информация об объекте</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="registryObjectContentType">
		<xs:annotation>
			<xs:documentation>Описание внешних свойств</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="rns:GUID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификатор объекта во временном хранилище</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updatedOn" type="rns:timestampType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Время обновления информации об объекте</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="departmentDoc" type="rns:dataSourceType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ведомство - источник информации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Версия протокола обмена</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="realestate" type="rns:realestateDetailType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Подробная нформация об объекте</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="realestateDetailType">
		<xs:sequence>
			<xs:element name="propertyTypeValue" type="rns:propertyTypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cadNumber" type="rns:cadNumberType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Кадастровый номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="readableAddress" type="rns:readableAddressType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Полный человекочитаемый адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timestampType">
		<xs:annotation>
			<xs:documentation>Дата и время получения сведения в формате timestamp</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="13"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataSourceType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="propertyTypeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cadNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="readableAddressType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
