xsd/RfDrivingLicense_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (RT LABS, AO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/RfDrivingLicense_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/RfDrivingLicense_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="RfDrivingLicenseDoc" type="tns:RfDrivingLicenseDocType">
		<xs:annotation>
			<xs:documentation>Водительское удостоверение</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RfDrivingLicenseDocType">
		<xs:annotation>
			<xs:documentation>Водительское удостоверение</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="baseDoc" type="types:baseDocType">
				<xs:annotation>
					<xs:documentation>Серия, номер, дата выдачи удостоверения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuedBy" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кем выдано удостоверение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiryDate" type="tns:dateType">
				<xs:annotation>
					<xs:documentation>Действителен до</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="experience" type="tns:yearType">
				<xs:annotation>
					<xs:documentation>Водительский стаж (год выдачи первых прав)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="categories" type="types:categoriesType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Категории</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="dateType">
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-3][0-9]\.[0-1][0-9]\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yearType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
</xs:schema>
