xsd/SelfEmployed_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0" elementFormDefault="qualified" targetNamespace="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0" xmlns:ns2="urn://x-artefacts-gnivc-ru/ais3/SMZ/SmzPartnersValidationService/types/1.0">
<xs:import namespace="urn://x-artefacts-gnivc-ru/ais3/SMZ/SmzPartnersValidationService/types/1.0" schemaLocation="smz-partners-additional-scheme-v0.1.xsd"/>
<xs:element name="GetMessageResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="ProcessingStatus" type="tns:ProcessingStatuses"/>
			<xs:element name="Message">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns2:GetTaxpayerRegistrationStatusResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:simpleType name="ProcessingStatuses">
    <xs:restriction base="xs:string">
		<xs:enumeration value="COMPLETED"/>
        <xs:enumeration value="PROCESSING"/>
    </xs:restriction>
</xs:simpleType>
</xs:schema>
