xsd/snils_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (RT LABS, AO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/snils_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/snils_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="snilsDocuments" type="tns:snilsDocumentsType">
		<xs:annotation>
			<xs:documentation>СНИЛС пользователя ЕСИА</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="snilsDocumentsType">
		<xs:sequence>
			<xs:element name="snils" type="tns:snilsType">
				<xs:annotation>
					<xs:documentation>СНИЛС пользователя ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="snilsType">
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="\d{3}-\d{3}-\d{3} \d{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
