xsd/VehicleDoc_documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (RT LABS, AO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://mincomsvyaz/esia/VehicleDoc_documents/1.0.0" xmlns:types="urn://mincomsvyaz/esia/base_types/1.0.0" targetNamespace="urn://mincomsvyaz/esia/VehicleDoc_documents/1.0.0" elementFormDefault="qualified">
	<xs:import namespace="urn://mincomsvyaz/esia/base_types/1.0.0" schemaLocation="commons/base_types.xsd"/>
	<xs:element name="VehicleDoc" type="tns:VehicleType">
		<xs:annotation>
			<xs:documentation>Свидетельство о регистрации транспортных средств пользователя
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VehicleType">
		<xs:annotation>
			<xs:documentation>Свидетельство о регистрации транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numberPlate" type="xs:string">
				<xs:annotation>
					<xs:documentation>Государственный регистрационный знак</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серия СТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="xs:string">
				<xs:annotation>
					<xs:documentation>Номер СТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vin" type="tns:vinType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VIN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="brand" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="model" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vehicleCategory" type="types:categoriesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Категория ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionYear" type="tns:yearType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="engineNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bodyNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер кузова (прицепа)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chassisNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер шасси (рамы)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="categories" type="types:categoriesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Категория</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="dateType">
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-3][0-9]\.[0-1][0-9]\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vinType">
		<xs:restriction base="xs:string">
			<xs:length value="17"/>
			<xs:pattern value="[0-9A-Z]{13}[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yearType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
</xs:schema>
